#homeSection {
    padding-top: 10% ;
    min-height: 100vh;
   
    /* background-color: teal; */
}

#pages {
    padding-top: 10% ;
    min-height: 100vh;
}

#days {
    padding-top: 10% ;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
  }
  